<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GPA Calculator</title>
        <link rel="stylesheet" href="../static/style.css">
        <!-- Latest compiled and minified CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css ">

        <!-- jQuery library -->
        <script src=" https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js "></script>

        <!-- Popper JS -->
        <script src=" https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js "></script>

        <!-- Latest compiled JavaScript -->
        <script src=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js "></script>

        <script src="https://unpkg.com/feather-icons"></script>
    </head>
    
    <body>
        <!--Navbar at the top of the screen-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">GPA Calculator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/chatbot">Q&A</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container about-section card shadow mt-5">
            <h1 class="text-center p-4">About Us</h1>
            <p class="text-center">We developed a GPA calculator exclusively for South Forsyth High School students, this GPA calculator is a collaborative creation by Suhas Devarapalli, Aarin Karamchandani, and Pranav Maturi. Our interface makes it simple for students to accurately compute their GPA for each high school year, from 9th through 12th grade, providing both weighted and unweighted outcomes. It's a tool designed to help South Forsyth students manage and track their academic performance with ease.</p>
        </div>
    </body>
</html>