<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPA Calculator</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css ">

    <!-- jQuery library -->
    <script src=" https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js "></script>

    <!-- Popper JS -->
    <script src=" https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js "></script>

    <!-- Latest compiled JavaScript -->
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js "></script>

    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <!--Navbar at the top of the screen-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">GPA Calculator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/chatbot">Q&A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Main Section-->
    <center>
        <!--Navigation to different grade levels and help button-->
        <a href="/ninth-grade-gpa" class="btn btn-info mt-3">9th GPA</a>
        <a href="/tenth-grade-gpa" class="btn btn-info mt-3">10th GPA</a>
        <a href="/eleventh-grade-gpa" class="btn btn-info mt-3">11th GPA</a>
        <a href="/twelfth-grade-gpa" class="btn btn-info mt-3">12th GPA</a>

        <!--Help Modal-->
        <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#helpModal"><i
                data-feather="help-circle"></i></button>

        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="helpModalLabel">Instructions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p>This GPA calculator allows you to calculate your grade point average based on your course
                            grades.</p>
                        <p>Follow these steps:</p>
                        <ol>
                            <li>Choose the class type from the dropdown.</li>
                            <li>Enter your grade for the class.</li>
                            <li>Click "Add Class" to add more classes if needed.</li>
                            <li>Click "Delete Class" to remove a class.</li>
                            <li>Click "Submit" to calculate your GPA.</li>
                            <li>For further question please <a href="/chatbot">click here</a> for an interactive AI
                                assitant</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--User Info Input-->
        <div class="card shadow w-50 mt-3">
            <form method="post" action="/twelfth-grade-gpa">
                <div id="input-fields" class="form-group w-75 p-2">
                    <h1 class="mt-2">12th Grade GPA</h1>
                    <div id="input-group-0">
                        <input type="text" class="form-control mb-3" name="name-1" id="name-1" placeholder="Class Name">
                        <select id="class-1" name="class-1" class="form-control form-select form-select-md mb-2">
                            <option value="credit5">DE/AP/IB</option>
                            <option value="credit4">Honors/On-Level</option>
                        </select>
                        <input type="text" class="form-control mb-3" name="grade-1" id="grade-1" placeholder="Grade">
                        <input type="hidden" id="grade-level-1" name="grade-level-1" value="12">
                        <hr>
                    </div>
                </div>
                <div class="pb-2">
                    <button type="button" class="btn btn-success" onclick="addInputField()">Add Class</button>
                    <button type="button" class="btn btn-danger" onclick="deleteField()">Delete Class</button>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>

                <input type="hidden" id="counter" name="counter" value="0">
            </form>
        </div>
    </center>


    <!--Ouput-->
    {% if error %}
    <center>
        <div class="alert alert-danger mt-3 w-25 border rounded">
            <p class="error">{{ error }}</p>
        </div>
    </center>
    {% endif %}

    {% if totalW or totalU %}
    <div class="text-center mt-3">
        <div class="alert alert-success w-50 mx-auto rounded-pill shadow-lg">
            <h4 class="alert-heading">Summary</h4>
            {% if totalW %}
            <p class="totalW font-weight-bold">Weighted GPA: <span class="font-weight-normal">{{ totalW }}</span></p>
            {% endif %}

            {% if totalU %}
            <p class="totalU font-weight-bold">Unweighted GPA: <span class="font-weight-normal">{{ totalU }}</span></p>
            {% endif %}

            <hr>
            {% if totalClasses %}
            <p class="totalU font-weight-bold">Total Classes: <span class="font-weight-normal">{{ totalClasses }}</span>
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}



    <!--JavaScript for adding and deleting classes-->
    <script>
        let inputCounter = 1;

        function addInputField() {
            inputCounter++;

            const inputGroup = document.createElement('div');
            inputGroup.id = `input-group-${inputCounter}`;
            inputGroup.innerHTML =
                `<input type="text" class="form-control mb-3" name="name-${inputCounter}" id="name-${inputCounter}" placeholder="Class Name">
                <select id="class-${inputCounter}" name="class-${inputCounter}" class="form-control form-select form-select-md mb-2">
                    <option value="credit5">DE/AP/IB</option>
                    <option value="credit4">Honors/On-Level</option>
                </select>
                <input type="text" class="form-control mb-3" name="grade-${inputCounter}" id="grade-${inputCounter}" placeholder="Grade">
                <input type="hidden" id="grade-level-${inputCounter}" name="grade-level-${inputCounter}" value="12">
                <hr>`;

            document.getElementById("counter").value = inputCounter;

            document.getElementById('input-fields').appendChild(inputGroup);
        }

        function deleteField() {
            if (inputCounter > 1) {
                var course = document.getElementById(`input-group-${inputCounter}`);
                if (course) {
                    var parentElement = course.parentNode;
                    parentElement.removeChild(course);
                    inputCounter--;
                }
            }
        }
    </script>

    <script>
        feather.replace();
    </script>

</body>

</html>